body{
    background-color: pink;
}

.table-box{
    position: absolute;
    left: 40%;
    top: 40%;
}

button{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#d426ff;
    font-size: 18px;
    color: #fafafa;
}